/* list style */
.list {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-add {
  top: -15px;
  right: -15px;
  position: absolute;
  background-color: rgba(189, 195, 199, 0.95);
  color: #333;
  padding: 0.8rem;
  border-radius: 50%;
  border: 1px solid grey;
  text-decoration: none;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

.list-add:hover {
  top: -17px;
  right: -17px;
}

.list-item {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: white;
  color: #333;
  font-weight: 300;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.list-header {
  height: 2.5rem;
  background-color: rgba(127, 140, 141, 0.4);
  border-top: 1px solid grey;
}

.list-item > p, .list-item > a {
  height: 100%;
  margin: 0;
  border-right: 1px solid grey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item > p:last-child, .list-item > a:last-child {
  border: none;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.list-header:hover {
  background-color: rgba(127, 140, 141, 0.4);
}

/* row page */
.row-list {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.row-list .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row-list .row p {
  margin: 0;
  padding: 0 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgba(127, 140, 141, 0.4);
  color: #333;
  font-weight: 300;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.row-list .row input[type=text], .row-list .row input[type=password], .row-list .row textarea, .row-list .row select, .row-list .row a {
  background: none;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: white;
  color: #333;
  border: none;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.row-list .row textarea {
  padding: 1rem;
}

.row-list .row .required {
  font-weight: bolder;
}

.row-list .submit-row {
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row-list .submit-row button {
  flex-basis: 20%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #2ecc71;
  color: #333;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  transition: 0.2s ease;
  cursor: pointer;
}

.row-list .submit-row button:hover {
  background-color: #27ae60;
}

.row-list .submit-row p {
  flex-basis: 80%;
  height: 3.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: #333;
  font-weight: 300;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.row-msg {
  height: 6rem;
}

.row-msg > * {
  height: 100% !important;
}

.row-legend {
  color: #333;
  position: absolute;
  top: 4px;
  right: 8px;
}

.row-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  padding: 0 2rem;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  background: #e74c3c;
  transition: 0.2s ease;
  cursor: pointer;
}

.row-btn:hover {
  background: #c0392b;
}

.row-btn-y {
  background: #f1c40f !important;
}

.row-btn-y:hover {
  background: #f39c12 !important;
}

.row-btn-g {
  background: #1abc9c !important;
}

.row-btn-g:hover {
  background: #16a085 !important;
}

/* selector */
.selector {
  margin-top: 10vh;
  margin-bottom: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selector .filter {
  position: relative;
  width: 80%;
  height: 4rem;
  border-top: 1px solid grey;
}

.selector .filter input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  background-color: rgba(127, 140, 141, 0.4);
}

.filter > p {
  position: relative;
  background-color: rgba(127, 140, 141, 0.4);
}

.filter > p > span {
  font-size: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.hidden {
  display: none;
}
